.janrain-social-link {
  background-image: -webkit-linear-gradient(bottom, rgb(238, 238, 238), rgb(255, 255, 255));
  border: 1px solid rgb(218, 228, 230);
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  width: 70%;
}

a.janrain-social-link:active,
a.janrain-social-link:focus,
a.janrain-social-link:hover {
  background-image: -webkit-linear-gradient(bottom,rgb(227,227,227),rgb(255,255,255));
  border: 1px solid rgb(218, 228, 230) !important;
  color: transparent !important;
}

.janrain-social-icon {
  align-items: center;
  display: inline-flex;
  font-size: 0px;
  height: 24px;
  text-indent: -9999px;
  width: 24px;
}

.social-container .row {
  text-align: center;
}

@media screen and (min-width: 851px) {
  .social-container .column {
    display: inline-block;
  }

  .janrain-social-link {
    width: 100px;
  }
}
